[2019-05-13 22:51] sharifsalah opened #24 "Update license to CC-BY-4.0"
Update opencue.io site and code from current license to CC-BY-4.0

[2019-05-15 02:41] sharifsalah commented on #24
Closed in https://github.com/imageworks/opencue.io/pull/25

[2019-05-15 02:41] #24 closed

[2019-05-15 02:42] sharifsalah opened #26 "Add ASWF logo"
Add the ASWF logo to the site footer.

[2019-05-15 02:44] sharifsalah opened #27 "Update the copyright notice"
Update the site OpenCue copyright notice as follows:

Copyright Contributors to the OpenCue Project

[2019-05-15 02:47] sharifsalah opened #28 "Add LF Projects policy links"
Add site footer links to the LF Projects policies:

- Antitrust Policy
- Code of Conduct
- Privacy Policy
- Terms of Use
- Trademark Policy

Update the footer with the following:

LF Projects, LLC uses various trademarks. For our trademark, privacy and antitrust policies, code of conduct and terms of use, please click the applicable link below or see www.lfprojects.org.

[2019-05-15 13:35] sharifsalah opened #29 "Add instructions for publishing opencue.io"
Update the project README with instructions for staging, previewing, and publishing changes to the site.

Initially, to keep the workflow simple, we can just auto-publish based on an ad-hoc basis when significant changes are ready by merging the `publish` branch with `master`.

A preview of upcoming changes will be available from the `master` branch by viewing the public deployment logs in Netlify

[2019-05-17 17:55] sharifsalah commented on #28
Closed in https://github.com/imageworks/opencue.io/pull/30

[2019-05-17 17:55] #28 closed

[2019-05-17 17:55] sharifsalah commented on #27
Closed in https://github.com/imageworks/opencue.io/pull/30

[2019-05-17 17:55] #27 closed

[2019-05-17 17:55] sharifsalah commented on #26
Closed in https://github.com/imageworks/opencue.io/pull/30

[2019-05-17 17:55] #26 closed

[2019-05-17 17:58] sharifsalah opened #31 "Update package.json license"
Update `package.json` license from `ISC` to `CC-BY-4.0`.

[2019-05-17 18:38] sharifsalah commented on #31
Closed in https://github.com/imageworks/opencue.io/pull/32

[2019-05-17 18:38] #31 closed

[2019-05-22 14:40] sharifsalah opened #34 "Fix footer background color"
The site footer is currently displaying incorrectly on Safari on iOS and macOS. The background color doesn't extend to the bottom of the footer.

[2019-05-22 14:59] sharifsalah opened #36 "Create and submit an XML sitemap"
To improve SEO, create an XML sitemap based on the XML schema for the Sitemap protocol:

https://www.sitemaps.org/protocol.html

Submit the XML sitemap to search engines.

[2019-05-22 15:13] sharifsalah opened #37 "Configure site search"
Enable and configure site search based on the example configuration for Hugo / Docsy at:

https://github.com/google/docsy-example/blob/master/config.toml

[2019-05-23 13:13] sharifsalah opened #38 "Add a custom 404 page"
Add a custom 404 page to suggest next steps for broken links and typos:

https://www.netlify.com/docs/redirects/

[2019-05-23 13:14] sharifsalah opened #39 "Add a pull request template"
Add a custom pull request template to help guide contributions to the docs.

[2019-05-30 13:00] sharifsalah opened #45 "Consider adopting Sass MQ"
Consider adopting https://github.com/sass-mq/sass-mq. Not sure about impact on Docsy but would be interesting to improve responsiveness of the site if we can mix and match mixins.

[2019-05-30 15:35] sharifsalah commented on #45
This is probably dependent on first merging https://github.com/imageworks/opencue.io/pull/35

[2019-05-31 16:24] sharifsalah opened #46 "Add a Netlify badge"
Add a Netlify badge to the footer of the site to acknowledge that the site is hosted by Netlify  as an open source site.

https://www.netlify.com/press/

[2019-05-31 16:49] sharifsalah opened #47 "Update to the latest version of Docsy"
Docsy has just added support for dynamically generated landing pages via https://github.com/google/docsy/pull/67.

It would be very useful to update opencue.io to incorporate these changes as it will reduce the need to manually edit these pages in the future.

[2019-05-31 18:48] sharifsalah commented on #47
Staged the latest version at:

https://5cf175e2f57e14000897d971--elated-haibt-1b47ff.netlify.com/

Looks like there are issues to iron out with the landing page...

[2019-06-04 12:03] sharifsalah commented on #38
Fixed in https://github.com/imageworks/opencue.io/pull/44

[2019-06-04 12:03] #38 closed

[2019-06-04 12:04] sharifsalah commented on #34
Fixed in https://github.com/imageworks/opencue.io/pull/35

[2019-06-04 12:04] #34 closed

[2019-06-05 16:49] sharifsalah commented on #36
Fixed in https://github.com/imageworks/opencue.io/pull/49

[2019-06-05 16:49] #36 closed

[2019-06-05 16:50] sharifsalah commented on #46
Fixed in https://github.com/imageworks/opencue.io/pull/48

[2019-06-05 16:50] #46 closed

[2019-06-05 17:06] sharifsalah opened #50 "Redirect default Netlify subdomain to primary domain"
To improve SEO, redirect the default Netlify subdomain:

https://elated-haibt-1b47ff.netlify.com/

to

https://opencue.io/

[2019-06-06 12:44] bcipriano commented on #50
Is it better to redirect to `www.opencue.io`? I thought the load balancing was supposed to work better due to the way our DNS is set up.

[2019-06-06 12:58] sharifsalah commented on #50
Currently www is just an alias for opencue.io: (we can't actually reach www, it just redirects immediately to the root domain)

[code]

Ideally yes, if we can configure the DNS per Netlify's recommended configuration, that would offer better performance.

There are two options for configuring DNS:

1. Implement CNAME flattening, ANAME, or ALIAS records for the root domain (which we can't currently

[2019-06-07 16:43] sharifsalah commented on #47
Identified the cause of the behavior in https://github.com/google/docsy/issues/83

[2019-06-10 15:09] bcipriano commented on #50
That seems a little bit weird?

In services I've used before the `www` `CNAME` record doesn't consistently resolve to a single IP address -- the service it redirects to is able to use this for load balancing and other dynamic routing. So the goal ends up being to point everything to `www`, because this problem with the root record is pretty typical.

That paragraph you've quoted [from the Netlify

[2019-06-10 15:46] sharifsalah commented on #50
Perhaps I'm missing something, but I think we're in agreement?

There's a useful [article from Netlify](https://www.netlify.com/blog/2017/02/28/to-www-or-not-www/) that describes the ideal way to configure `www`:

(Which is how www.opencue.io is configured)

As `www` is already an alias for `https://elated-haibt-1b47ff.netlify.com/`, it wouldn't make sense to redirect it back to `www`.

The change

[2019-06-10 17:08] bcipriano commented on #50
Yeah, this is my main concern. I assume this redirection is something we've put in place already, right?

That article you linked covers my concern pretty well:

Also, it sounds like we can set up an ALIAS record on the root domain. If this is aliased to point at the Netlify app, and Netlify redirects back to the root domain, won't we end up in an infinite-redirect situation?

[2019-06-10 17:26] bcipriano commented on #50
This may be where I'm getting confused -- does this only apply to SEO, or is it applied for humans as well? And if is NOT applied to humans, why is my browser redirecting me every time I visit `www`?

[2019-06-10 18:03] sharifsalah commented on #50
Sorry, I think I've overcomplicated things by attempting to make the change described in this issue while the project is also trying to migrate hosting, DNS, ...etc.

To (hopefully) clarify:

- The specific change described in this issue is only for SEO.
- Currently if you visit https://elated-haibt-1b47ff.netlify.com/, the site doesn't redirect. Netlify seems to suggest this might not be desirabl

[2019-06-11 15:07] bcipriano commented on #50
Agreed -- this is done now.

[2019-06-11 18:18] sharifsalah opened #54 "Update opencue.io links to OpenCue repo"
The OpenCue repo now lives at

https://github.com/AcademySoftwareFoundation/OpenCue/

We need to update any links from www.opencue.io to the repository.

This can mostly be accomplished with a config update. Other links are not urgent as the legacy repo address automatically redirects to the new address.

I'll do a search and replace on the opencue.io repo.

[2019-06-11 18:23] sharifsalah opened #55 "Update www.opencue.io links to opencue.io repo"
Update the source for www.opencue.io to the new repository location for the site:

https://github.com/AcademySoftwareFoundation/opencue.io/

[2019-06-11 20:37] sharifsalah commented on #50
Fixed in https://github.com/AcademySoftwareFoundation/opencue.io/pull/53

[2019-06-13 15:02] sharifsalah opened #58 "Add a link for creating OpenCue issues"
Currently opencue.io is configured to allow contributors to click the following links in the right-hand navigation panel of the site:

- Edit this page
- Create issue

It's not clear if **Create issue** refers to creating an issue in the `opencue.io` or the `OpenCue` repos.

We should add a link so that both use cases are covered:

- Edit this page
- Create documentation issue
- Create project iss

[2019-06-13 15:06] sharifsalah commented on #58
A fix is in progress, with more information at https://github.com/google/docsy/issues/88

[2019-06-13 17:55] sharifsalah commented on #55
Fixed in https://github.com/AcademySoftwareFoundation/opencue.io/pull/56

[2019-06-13 17:55] #55 closed

[2019-06-14 09:01] sharifsalah commented on #54
Applied some changes in https://github.com/AcademySoftwareFoundation/opencue.io/pull/60

[2019-06-14 09:03] sharifsalah commented on #54
Changed docs links in https://github.com/AcademySoftwareFoundation/opencue.io/pull/59

[2019-06-14 09:31] sharifsalah commented on #54
Also adjusted links in configuration in https://github.com/AcademySoftwareFoundation/opencue.io/pull/56

[2019-06-14 09:44] #54 closed

[2019-06-14 10:02] sharifsalah opened #65 "Review publishing strategy"
Right now, when we publish opencue.io, we just merge / pull changes from master into the publish branch.

I suspect the publishing steps will change over the coming months depending on various questions the project might consider:

- It would be useful to set up a permanent preview of changes coming to the site. So master would continuously auto-deployed to something like preview.opencue.io, which

[2019-06-14 12:18] sharifsalah opened #66 "Implement end-user page feedback"
Docsy includes support for a simple binary feedback system to ask visitors of opencue.io if the contents of a page is useful or not using buttons. This is especially useful for end-users who are might not be familiar with GitHub issues and provides a quick signal to gauge areas for improvement.

We should implement the feedback system by making the necessary changes to `config.toml`:

[code]

[2019-07-02 09:49] sharifsalah commented on #37
Partially fixed in https://github.com/AcademySoftwareFoundation/opencue.io/pull/68

Next step is to investigate if we can configure the results to display within the chrome of the site.

[2019-07-02 15:26] sharifsalah opened #69 "Publish a CONTRIBUTING guide"
Investigate if we can pull in the CONTRIBUTING guide from the OpenCue repo and publish it as a page on www.opencue.io when Hugo builds the site and Netlify deploys it.

[2019-07-02 19:11] #47 closed

[2019-07-02 19:20] sharifsalah commented on #58
Partially fixed in https://github.com/AcademySoftwareFoundation/opencue.io/pull/67

Next step is to actually add the new parameter to config.toml to enable the new link in the right hand sidebar.

[2019-07-03 23:24] bcipriano commented on #37
When I do a search on the currently deployed site it seems to show a standard Google results page instead of only results from opencue.io.

Is this what you meant in your previous comment?

[2019-07-08 10:44] sharifsalah commented on #37
That's interesting, I'm not seeing any results outside of opencue.io. Could you give an example of a search term that includes results outside of the site?

Here's a screenshot of the results I'm seeing for the term 'pycuerun':

<img width="1406" alt="www.opencue.io search results screen shot 2019-07-08" src="https://user-images.githubusercontent.com/6339099/60804515-a00d9100-a175-11e9-9d04-095bf8

[2019-07-08 17:46] gregdenton commented on #37
I think the problem may just have been the google ad results that show if you use a more generic term. For instance, search "job". The first 4 results are going to be external ads followed by the opencue.io search results.

[2019-07-08 17:54] sharifsalah commented on #37
Thank you, again that's interesting because IIUC, we're basically using the same system that Kubernetes is running for search on kubernetes.io but I'm not seeing the ads for the same term:

https://kubernetes.io/docs/search/?q=job

I'll have to investigate what configuration options are possible for GCS and if / how we can remove the ads...

[2019-07-08 17:57] sharifsalah commented on #37
Probably relevant: https://support.google.com/customsearch/answer/4542102?hl=en

[2019-07-08 20:06] bcipriano commented on #37
Ahh ok, that's it -- I also searched a generic term, I think it was "render".

[2019-07-10 20:16] sharifsalah commented on #58
Fixed in https://github.com/AcademySoftwareFoundation/opencue.io/pull/73

[2019-07-10 20:16] #58 closed

[2019-07-10 21:30] sharifsalah commented on #50
This was partially fixed, as we previously implemented the redirect in https://github.com/AcademySoftwareFoundation/opencue.io/pull/53.

However it didn't actually work until we migrated everything from `content/en*` to `content/*` in https://github.com/AcademySoftwareFoundation/opencue.io/pull/73

Now fixed and published.

[2019-07-10 21:30] #50 closed

[2019-07-10 21:30] sharifsalah commented on #69
Related work in https://github.com/AcademySoftwareFoundation/opencue.io/pull/74

[2019-07-11 21:39] bcipriano opened #76 "Some staging site links point back to main opencue.io."
I noticed this on https://deploy-preview-75--elated-haibt-1b47ff.netlify.com/docs/.

The main body text "OpenCue getting started guide" is a link, but it links back to https://www.opencue.io/docs/getting-started/ instead of the same page on the staged version.

However the TOC links on the left-hand side of the page work fine.

[2019-07-12 13:05] sharifsalah commented on #76
Thanks for reporting! Yes I noticed this yesterday but hadn't got round to investigating the cause or reporting it. Looking at it, I think this is related to the [change Docsy recently made]( https://github.com/google/docsy/pull/67) as a result of a feature request to auto-generate index pages. (which saves us work to manage the indexes manually)

Specifically, it's the changes in [section-index.h

[2019-07-12 13:20] sharifsalah commented on #76
Reported in https://github.com/google/docsy/issues/103

[2019-07-12 14:56] sharifsalah commented on #76
Fixed upstream in https://github.com/google/docsy/pull/104

Will need to update to the latest version of Docsy to apply the fix.

[2019-07-22 20:19] sharifsalah commented on #69
Started work in https://github.com/AcademySoftwareFoundation/opencue.io/pull/79

[2019-07-22 21:26] bcipriano opened #81 "use locale date style"
Blog posts, for example <https://www.opencue.io/blog/2019/07/08/opencue-roadmap-at-siggraph/> list their date in the European style -- "08.07.2019" (for me at least, from my workstation in California).

This might be slightly confusing for American folks. If possible it would be great to use the current locale's date style when rendering the page.

[2019-07-23 15:13] sharifsalah commented on #81
Ah yes, this is a good point. I think we're just using the default formatting (which is European for some reason).

I don't _think_ we can locale date style, _but_ I think we can override the way the date is displayed to have it looks something like:

Wednesday, April 4, 2020

The relevant Hugo doc is located at:

https://gohugo.io/functions/dateformat/

The file we would override for the blog / r

[2019-07-23 19:28] bcipriano commented on #81
That's a good suggestion -- any format that makes it obvious what is month vs day should work.

[2019-07-23 20:19] bcipriano commented on #81
Thanks for the info Sharif!

I noticed `$.Site.Params.time_format_blog` in that file you linked, and it seems we can just update that setting rather than override the whole template -- see PR.

[2019-07-23 20:40] sharifsalah commented on #81
Nicely spotted, and much more elegant. Thanks for implementing the fix so quickly!

[2019-07-23 20:41] #81 closed

[2019-07-24 18:28] sharifsalah opened #85 "Add ASWF sizzle real to homepage"
Add the Academy Software Foundation Sizzle Reel - 2019 to the opencue.io homepage (when it's available)

[2019-07-24 20:50] bcipriano commented on #85
Tomorrow (Thursday) I'm planning to email the user and dev lists with the new blog posts. It would be great to also have this reel up on the homepage before that goes out.

Let me know if I can help out.

[2019-07-24 21:34] sharifsalah commented on #85
We've been asked to put this on hold.

[2019-08-05 16:02] sharifsalah commented on #85
Fixed in https://github.com/AcademySoftwareFoundation/opencue.io/pull/88

[2019-08-05 16:02] #85 closed

[2019-08-06 09:27] #76 closed

[2019-08-06 11:05] sharifsalah opened #91 "Add an introduction to Getting started"
The current [index page for getting started](https://www.opencue.io/docs/getting-started/) is a useful URL to link to from other sites that want to show users how to install OpenCue.

This page should provide more context to explain to new users that it might be useful to first read the overview and become familiar with common OpenCue terminology. We should explain the following:

- What the guide

[2019-08-06 20:25] #66 closed

[2019-08-30 22:14] sharifsalah opened #97 "Publish a Quick start"
Publish a Quick start based on the OpenCue sandbox:

https://github.com/AcademySoftwareFoundation/OpenCue/tree/master/sandbox

[2019-08-30 22:15] sharifsalah opened #98 "Publish a guide for upgrading OpenCue"
Build on the existing guide for database migrations.

[2019-09-05 00:42] gregdenton commented on #98
@sharifsalah, Is this something you have already started on? I was thinking of taking an initial pass at it and sending it your way for edits later. Sound good?

[2019-09-05 11:22] sharifsalah commented on #98
Thanks for checking, @gregdenton. I haven't started yet. I was actually going to ask if you have notes / thoughts to share.

I have some thoughts about what to include but you will of course have a much better idea of the detailed steps / commands. Feel free to just add notes to this issue or submit an initial draft via PR, whichever you prefer.

[2019-09-25 14:17] sharifsalah opened #106 "Publish a case study of OpenCue / Cue3 in production"
Publish a page with a description and diagram of the infrastructure used to run OpenCue / Cue3 in production.

[2019-09-27 15:06] sharifsalah opened #107 "Inaccurate Google search results description"
When searching on Google for OpenCue, the results currently include the following description for the opencue.io site:

<img width="629" alt="Screen Shot 2019-09-27 at 3 57 23 PM" src="https://user-images.githubusercontent.com/6339099/65779959-a8f07c00-e140-11e9-9547-9d418d37c573.png">

I think this is a result of recently adding the ASWF sizzle reel from YouTube, so we need to experiment with adj

[2019-10-03 09:38] sharifsalah opened #112 "Update guides on configuring and using limits"
From the announcement of the feature on the users mailing list:

A new functionality called Limits was recently merged into the master branch on Github. Limits allow users to specify the maximum number of concurrently running frames associated with that Limit. Limits are specified on the Job Layer and all Frames within that Layer are considered to take 1 limit count. Once the total limit count rea

[2019-10-09 14:02] sharifsalah opened #117 "Migrate legacy tutorial"
The source code for Cue3 included a tutorial which is now quite out of date. Some of this information could be updated and adapted for a tutorial or tutorials about PyOutline.

Text from the tutorial follows:

PyOutline Development

Introduction

PyOutline is a work flow engine that logically separates large processes or programs into small chunks which can be executed across many systems or CPUs

[2019-10-09 15:35] sharifsalah commented on #97
The macOS and Linux quick starts are now published. Next step is to link to them prominently from the landing page.

[2019-10-19 14:22] sharifsalah commented on #107
Google search results now correctly display the meta description for the site. The site is now ranked second in the list of results for the term 'OpenCue'.

[2019-10-19 14:22] #107 closed

[2019-11-18 20:11] bcipriano commented on #106
Ready to close this issue?

[2019-11-18 20:15] bcipriano opened #121 "Improve discoverability of case study"
I had a hard time finding the SPI case study just now. I found it in "Concepts" but didn't really expect it there. I guess I assumed concepts is more about defining terminology and basic facts about the project, though maybe my understanding is incomplete here.

Perhaps a new section is in order, for things like case studies / solutions / etc.? For example our GCP solution could fit into this cate

[2019-11-19 13:48] sharifsalah commented on #106
Thanks for the reminder! Yes, published at https://www.opencue.io/docs/concepts/spi-case-study/

[2019-11-19 13:48] #106 closed

[2019-11-19 14:14] sharifsalah opened #122 "Add a guide for customizing RQD nodes"
Add a how-to guide to explain how to build on the base RQD docker image from Docker Hub. We can explain how to download and install Blender onto the default RQD image. We can then start up RQD as part of the sandbox environment to test it.

[2019-11-20 16:26] sharifsalah commented on #121
Agreed, improving the discoverability of this page would be good.

I'm not sure that changing the navigation folder would have much effect though. In my experience, users tend to mostly ignore site navigation. Your behavior wasn't typical of the intended audience as most people won't know the page exists. Most users will discover pages using any of the following:

1 - Links from third-party sites.

[2019-11-20 20:22] bcipriano commented on #121
Very good point, thank you!

Do you mean, link to the case study? Or some other target on opencue.io?

Sure thing.

Ok great, sounds good to me.

[2019-11-21 16:36] sharifsalah commented on #121
To answer your question about linking to the case study, I opened https://github.com/AcademySoftwareFoundation/OpenCue/pull/540 to add a link from the project README.md

I'll think about other places we can cross-link from within the site.

[2019-11-22 00:44] bcipriano commented on #121
Thanks Sharif. I'll take this issue now to write the blog post.

[2019-11-24 21:24] sharifsalah commented on #97
Updated the quick starts with steps to run a simple shell job. Still working on adding a link from the landing page.

[2019-11-27 11:43] sharifsalah opened #127 "Publish a blog post about the LA Pipeline Developers Meetup for OpenCue"
Publish a blog post about the recording of the LA Pipeline Developers Meetup for OpenCue.

Link to video: https://www.youtube.com/watch?v=Vh6wtTzEj_E

[2019-12-06 12:41] sharifsalah opened #131 "Add a reference for some of the most common environment variables"
Add a reference for some of the most common environment variables, such as:

CUESUBMIT_CONFIG_FILE
OL_CONFIG
CUE_FRAME_LOG_DIR
CUEBOT_HOSTS

These are just some examples as there are many others, but it would be good to publish something basic and add to it over time.

Please add any suggestions for useful variables to this issue.

[2019-12-14 02:38] bcipriano commented on #127
Ah sorry I didn't realize this was assigned to you. I went ahead and wrote it up in #134.

[2019-12-17 20:47] bcipriano opened #135 "Update Maya.env example with working Mac/Linux config"
Older versions of Maya supported `;` as a path separator on all OSs; newer version of Maya appear to have dropped this.

Update our Maya.env example to show a Windows version using `;` and a Mac/Linux version using `:`.

[2019-12-17 23:19] #135 closed

[2019-12-17 23:22] #127 closed

[2019-12-19 10:37] #121 closed

[2019-12-20 16:28] sharifsalah opened #141 "Migrate and publish the guide for building the API reference docs"
Migrate the existing README.md for building the API reference docs from the OpenCue repo for publication on opencue.io

[2019-12-23 10:21] #141 closed

[2019-12-23 10:42] sharifsalah opened #143 "Add a note about configuring PyCharm"
Update the contributor guide for the API reference docs based on this note from @bcipriano:

"For anyone using PyCharm, they can set Tools > Python Integrated Tools > Docstrings > Docstring format to "reStructuredText". This will let you use standard PyCharm tools for generating docstrings in this format."

[2019-12-23 16:46] #29 closed

[2019-12-23 16:47] sharifsalah commented on #69
Published at https://www.opencue.io/contributing/opencue/contributing/

[2019-12-23 16:47] #69 closed

[2020-01-15 10:41] #122 closed

[2020-01-16 17:00] sharifsalah opened #146 "Add getting started guides for Windows"
After https://github.com/AcademySoftwareFoundation/OpenCue/pull/604/ is merged, we should add new dedicated guides for the following setup steps:

- Setting up the database
- Deploying Cuebot
- Deploying RQD
- Checking out the source code
- Installing PyCue and PyOutline
- Installing CueGUI
- Installing CueSubmit

[2020-01-16 17:02] sharifsalah commented on #97
We should also add a Windows version of the quick start

[2020-01-16 21:17] bcipriano commented on #131
We should also document the various tokens that can be used in the commands you send to Cue.

We can pull the list from the spot in the code where those tokens are replaced: https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/cuebot/src/main/java/com/imageworks/spcue/dispatcher/DispatchSupportService.java#L390

https://github.com/AcademySoftwareFoundation/OpenCue/pull/597 just added a

[2020-01-27 22:28] Porges commented on #146
I've got basic notes for this; will submit some fleshed-out docs soon.

[2020-01-28 12:39] sharifsalah commented on #146
Thanks @Porges, that would be awesome and I'll be happy to help review and incorporate into the rest of the docs!

[2020-01-29 01:06] bcipriano opened #148 "Update Getting Started guide with options for specifying a log directory"
macOS Catalina makes `/` a [read-only filesystem](https://support.apple.com/en-us/HT210650), preventing new subdirectories from being created there. This means that our default log directory of `/shots` can't be created on macOS, causing the existing Getting Started guide to be hard to follow for macOS users.

We should update the Getting Started guide to specify a custom log directory for any com

[2020-01-29 01:06] bcipriano commented on #148
@sharifsalah Interested to hear your thoughts on this one.

[2020-01-29 16:58] sharifsalah commented on #148
That plan sounds good @bcipriano.

I'm not really clear on what `CUE_FS_ROOT` does though. Do you want to send an initial PR and I can help with refining and review?

I've also added CUE_FS_ROOT to https://github.com/AcademySoftwareFoundation/opencue.io/issues/131, which I hope

[2020-01-29 23:33] Porges commented on #146
Just realize the intent here was a setup guide for end-users, whereas I have instructions for setting up a development environment. We probably need both 🙂

[2020-01-30 16:45] sharifsalah commented on #146
Agreed 🙂

[2020-01-30 21:09] smith1511 commented on #146
This came up in the last TSC actually and I believe the conclusion was to split dev/user guides

[2020-01-31 12:20] sharifsalah commented on #146
@Porges here's a link to my follow up PR FYI:

https://github.com/AcademySoftwareFoundation/opencue.io/pull/153

[2020-02-22 00:26] #148 closed

[2020-03-17 16:33] to09 commented on #39
Have you worked on this issue?

[2020-03-18 14:21] sharifsalah commented on #39
Hi @to09 I haven't yet had time. Feel free to make a start and your contribution would be very welcome. Before you start a pull request, I encourage you to plan out what you're thinking in this issue.

The idea behind this issue is to provide a small checklist for anyone opening a pull request against this repository. For example, has the contributor reviewed the staged version of the docs using t

[2020-03-18 14:24] sharifsalah commented on #39
I forgot to mention @to09, if you want to work on this issue, let us know and we'll assign it to you.

[2020-03-19 06:25] to09 commented on #39
Yes, I want to work on this issue, please assign it to me.

On Wed, Mar 18, 2020 at 7:54 PM Sharif Salah <notifications@github.com>
wrote:

[2020-03-19 11:18] sharifsalah commented on #39
I've assigned the issue to you.

[2020-03-19 12:54] to09 commented on #39
Thank you, I have started working on this issue, come with the results soon.

On Thu, Mar 19, 2020 at 4:48 PM Sharif Salah <notifications@github.com>
wrote:

[2020-03-20 11:24] to09 opened #165 "Error : Page not found (opencue.io/content/blog/news/spi-case-study.md)"
[The case study](/docs/concepts/spi-case-study/) link produces error "Page Not Found" in this page opencue.io/content/blog/news/spi-case-study.md .

[2020-03-20 12:00] sharifsalah commented on #165
Thanks @to09, I'm not seeing the error. This is the link for the blog post:

[2020-03-20 13:39] to09 commented on #39
@sharifsalah , Please explain me more about " has the contributor reviewed the staged version of the docs using the deploy preview?".

[2020-03-20 13:48] to09 commented on #39
![Screenshot from 2020-03-05 00-07-34](https://user-images.githubusercontent.com/45192178/77169390-6b612000-6adf-11ea-84a8-d27d64cfce48.png)
I  have made the PR template, please review and mark if any changes needed.(Refer Screenshot)

[2020-03-20 13:54] sharifsalah commented on #39
I just created a test draft pull request (https://github.com/AcademySoftwareFoundation/opencue.io/pull/166) to demonstrate deploy previews.

In the checks for the pull request, see the following check:

<img width="682" alt="Screen Shot 2020-03-20 at 1 48 55 PM" src="https://user-images.githubusercontent.com/6339099/77169658-c9770e80-6ab1-11ea-8640-211ff38fc667.png">

Click **Details**.

That take

[2020-03-20 13:55] sharifsalah commented on #39
By the way, you say you have made a pull request template. Can you link to the pull request in this issue? I don't see it / can't find it.

[2020-03-20 14:39] to09 commented on #39
I have a draft pull request, Please review it #167

[2020-03-20 15:18] to09 commented on #165
![Screenshot from 2020-03-20 20-48-14](https://user-images.githubusercontent.com/45192178/77177824-2d1e2d80-6aec-11ea-9244-513f1b7cec31.png)

[2020-03-20 15:20] to09 commented on #165
it works fine in https://www.opencue.io/blog/2019/12/18/sony-pictures-imageworks-case-study/ but in github repo it creates error

[2020-03-20 15:37] sharifsalah commented on #165
The Markdown links in the opencue.io repo aren't supposed to work. The links only work after the Markdown is converted to HTML and published on opencue.io

I'll close this as 'Working as intended'.

[2020-03-20 15:37] #165 closed

[2020-03-20 16:43] to09 commented on #165
Ok, Thanks @sharifsalah for the clarification.

[2020-03-25 13:50] to09 opened #169 "Add a issue template"
Add a custom issue template to help them describing issue more clearly.

[2020-03-25 17:18] codinggosu commented on #112
Is this issue still relevant? Can I work on this issue?

[2020-03-25 17:40] sharifsalah commented on #112
Thanks for the interest @codinggosu! Yes, this issue is still relevant, so  I'll assign it to you.

Please let me know if you have questions about the authoring workflow.

[2020-03-25 23:19] bcipriano commented on #169
Very good idea!

Unlike [the main OpenCue issue templates](https://github.com/AcademySoftwareFoundation/OpenCue/tree/master/.github/ISSUE_TEMPLATE), I think we only really need one predefined type of issue, to cover any and all documentation updates.

All other issues should be logged instead under the main OpenCue repo. Maybe this repo's issue template could contain some helpful text redirecting

[2020-03-26 01:29] to09 commented on #169
I am interested in this issue, Please assign it to me.

[2020-03-26 06:38] apoorvkhare07 commented on #91
@sharifsalah I would like to work on this issue if no one is working on this?

[2020-03-26 06:39] apoorvkhare07 commented on #131
@bcipriano @sharifsalah Can I work on this issue if it's still relevant and open?
If so, can you guide me on how to work on this?

[2020-03-26 11:38] apoorvkhare07 commented on #143
@bcipriano @sharifsalah Can I work on this issue if it's still relevant and free for taking?

[2020-03-26 11:53] sharifsalah commented on #143
Thanks for volunteering, @apoorvkhare07! I've assigned you the issue.

[2020-03-26 11:54] sharifsalah commented on #143
This is the relevant guide to update:

https://www.opencue.io/contributing/opencue/build-docs/

[2020-03-26 11:55] sharifsalah commented on #169
Thanks @to09! I've assigned you the issue.

[2020-03-26 13:23] sharifsalah commented on #91
Thanks @apoorvkhare07! I'll assign you the issue.

[2020-03-26 14:06] codinggosu commented on #112
Should this be part of Documentation -> Other guides?
or a subsection under Documentation -> User Guides -> Monitoring your jobs
I was thinking Documentation -> Other guides, and am currently working on it with that assumption, if you think there's a better place for it please let me know!!

[2020-03-26 14:15] sharifsalah commented on #112
The convention we've used until now, is that guides for end users (visual effects artists) go under 'User guides'. Documentation for system administrators and other more technical roles, go under 'Other guides'.

I believe that 'configuring a new Limit' is a task for a system administrator, and that end users might want to apply the limit after it's available. End users might also want to add or r

[2020-03-26 14:39] apoorvkhare07 commented on #91
Hi @sharifsalah, I have incorporated the changes you mentioned. This is how I plan to implement them. Let me know the changes required, I'll add them and make the PR accordingly.
I think we can have a new page to link with OpenCue Components. I will add it after this if you feel that is relevant.

[2020-03-26 14:41] to09 commented on #169
Thanks for assigning the issue.
Is a question-based template is good for this?

[2020-03-26 14:41] codinggosu commented on #112
Ok!
I will add "configuring a new Limit" to other guides and add "Adding/Removing limits from existing layers" to user guides.

[2020-03-26 16:00] codinggosu commented on #112
I have completed a draft guide for  "configuring a new Limit" and wanted to see a preview running locally. I have set up the repository so the `hugo` command works, but after I make changes to the files (add a configure-limit.md file), the website running on localhost:1313 doesn't seem to reflect the change.
I have tried hugo, hugo server, and hugo server --noHTTPCache --disableFastRender --ignore

[2020-03-26 16:15] sharifsalah commented on #112
Are you creating a new doc or updating an existing doc?

If you're creating a new doc, there's an issue I've noticed where setting a date in the future stops Hugo from serving it. I don't think this is a bug, it seems to be a useful (but potentially confusing) way to stop content being visible until some pre-determined time.

To verify Hugo is showing you updates, I suggest you try updating an exi

[2020-03-26 16:21] codinggosu commented on #112
Thank you so much! That solved the problem

[2020-03-26 16:50] codinggosu commented on #112
Draft pr submitted. #171

[2020-03-26 21:29] bcipriano commented on #169
@to09 I'm not really sure what you mean by "question-based template". Could you clarify?

[2020-03-27 02:21] apoorvkhare07 commented on #91
@bcipriano reviews on the above-mentioned changes?

[2020-03-27 04:19] bcipriano commented on #91
@apoorvkhare07 Please send your proposed changes as a pull request, and I can review them from there.

[2020-03-27 04:24] apoorvkhare07 commented on #91
Ok sure.

[2020-03-27 21:41] #143 closed

[2020-03-28 02:00] to09 commented on #169
Sure,
I mean to say that question-based-template like this:
When does this occur?
Where on the platform does it happen?
How do we replicate the issue?
Expected behavior (i.e. solution)
Other Comments

[2020-03-28 08:05] apoorvkhare07 commented on #131
@sharifsalah I would like to work on this issue if it's available ?

[2020-03-28 19:07] bcipriano commented on #169
Ah ok I see.

I think since these will be documentation updates, there aren't many different pieces of information we need. For example we won't need to replicate the issue, there shouldn't be differences between platforms.

I would tend to keep it pretty simple, something like the main repo's [enhancement](https://raw.githubusercontent.com/AcademySoftwareFoundation/OpenCue/master/.github/ISSUE_TE

[2020-03-30 02:01] to09 commented on #169
Ok, thanks I have started working on this issue.

[2020-03-30 11:45] sharifsalah commented on #131
@apoorvkhare07 sure, thanks for volunteering! I'll assign you the issue.

[2020-03-30 12:51] apoorvkhare07 commented on #131
@sharifsalah Thank you. As per my understanding I need to add the environment related variables to docker.yaml for all except CueBOT and to Dockerfile for CueBOT. right ?
Also should I provide them with default values for now ?

[2020-03-30 13:00] sharifsalah commented on #131
@apoorvkhare07 I'm not sure quite what you mean. Docker is optional for all components of OpenCue. Users might use Docker to install the project but others might not use it. It will depend on the setup.

So this issue isn't strictly related to managing OpenCue in a container environment. We want to document a reference of what all the environment variables and tokens do.

For example, to document

[2020-03-30 13:06] apoorvkhare07 commented on #131
Ok, Got the point.
So where in the documentation do I need to add these references ?

[2020-03-30 13:08] apoorvkhare07 commented on #131
https://www.opencue.io/docs/reference/ here we don't a page for CueBOT and tokens as well.

[2020-03-30 13:16] sharifsalah commented on #131
Yes, I think adding a new page under https://www.opencue.io/docs/reference/  would be good.

To clarify, when you say a page for CueBot and tokens: this issue is for environment variables for all of OpenCue, not just CueBot and tokens. See the original description for more details. Eventually this page will include a reference for all the variables in the description as well as others we might not

[2020-03-30 17:45] to09 commented on #39
Please close this issue, this has been resolved.

[2020-03-30 17:54] bcipriano commented on #39
@to09 Yes, thank you.

This has been fixed by #167.

[2020-03-30 17:54] #39 closed

[2020-03-30 19:51] #91 closed

[2020-04-03 20:00] bcipriano opened #178 "Document project versioning policy"
Define our policy on how we create version numbers for OpenCue -- conditions under which we will increment major vs. minor vs. patch number.

[2020-04-03 20:05] bcipriano commented on #178
Here's my initial proposal, based on what our current process looks like:

- Major version to be incremented only be agreement of TSC. Major versions will be rare and the TSC will typically coordinate a list of new major features to be included.
- Minor version to be incremented for potentially breaking changes. Notably any database schema changes or changes to the proto files.
- Patch version to

[2020-04-03 20:13] larsbijl commented on #178
Sounds good to me.

[2020-04-06 14:20] sharifsalah opened #180 "Update NPM packages"
Periodic maintenance to update NPM packages

[2020-04-06 14:50] to09 commented on #178
@bcipriano, Is this has been solved or not? In case of any work remaining I would love to work on it.

[2020-04-06 20:52] bcipriano commented on #178
@to09 This is something that one of the project leads needs to write. I'll be working on it soon.

[2020-04-07 01:06] to09 commented on #178
@bcipriano, Sure

[2020-04-07 08:17] #180 closed

[2020-04-08 00:52] #169 closed

[2020-04-09 15:27] #112 closed

[2020-04-14 13:46] abishakram5 opened #184 "Quick starts"
## Describe the documentation issue
A clear and concise description of the issue in the document.

## Describe the enhancement
A clear and concise description of the  proposed enhancement.

## Additional context
Add any other context here.

[2020-04-14 13:54] sharifsalah commented on #184
As there are no details at all, I'm assuming this was opened in error and will resolve. Please re-open and share details if you would like to report an issue or feature request.

[2020-04-14 13:54] #184 closed

[2020-04-16 09:49] #178 closed

[2020-04-16 20:37] bcipriano opened #186 "Cuebot Getting Started guide uses obsolete Gradle command"
**Describe the documentation issue.**
https://www.opencue.io/docs/getting-started/deploying-cuebot/#option-4-build-from-source uses the old `shadowJar` command.

[2020-04-17 18:51] #186 closed

[2020-07-24 17:32] bcipriano opened #191 "Database population fails on Linux without setting trust authentication"
**Describe the documentation issue**

Since being published, the default Postgres on Linux setup has changed slightly to disallow passwordless database access unless you explicitly configure `trust` as the authentication method. We've already changed the Postgres on Docker steps to use this, we should change the Postgres on Linux section to match.

[2020-07-27 16:44] #191 closed

[2020-08-07 15:32] bcipriano opened #193 "Simplify the Getting Started guide and migrate installation options to User Guides"
## Describe the documentation issue
I've gotten the impression from some users that the Getting Started guide provides an unnecessary level of flexibility, laying out several options for installing each component which ultimately makes the guide harder to read for novice users.

I think the info on installation methods is valuable, but it may give the user too much choice upfront.

## Describe the

[2020-08-07 15:32] bcipriano commented on #193
@sharifsalah Any thoughts on this? Are User Guide pages the right way to go here or is a Reference page more appropriate?

[2020-08-10 12:24] sharifsalah commented on #193
I would definitely recommend limiting and simplifying choices within a guide, especially for folks who are unfamiliar and new to the project.

Ideally, the user should make the choice before starting to work through a guide, for example by selecting the right combination of OS and method. It's also a good idea to have some information that helps the user choose between the various options; when is

[2020-09-02 12:10] sharifsalah opened #200 "Update the project reel"
The ASWF just released the 2020 project reel:

https://www.youtube.com/watch?v=jPpBcHCMlA4&feature=emb_logo

We should update the 2019 sizzle reel embedded on the landing page of the site.

[2020-10-04 15:16] csunitha commented on #117
curious to know if this issue is still open to work upon. I would be interested in taking it up - but i am a first timer in open source contribution - so would need some help to start with.

[2020-10-05 10:44] sharifsalah commented on #117
This particular tutorial is very outdated, but in general, yes I think documentation and tutorials in particular about PyOutline development would be welcome.

If you're new to open source, consider first becoming familiar with the tools and processes by contributing a simper and smaller change. For example, you might consider something related to https://github.com/AcademySoftwareFoundation/openc

[2020-10-05 10:56] csunitha commented on #117
Thank you for your response. I would see if i can add value to that open item.

[2020-11-01 07:41] PratyushSawan opened #209 "Yes or No button should be changed thier color after Clicking on it."
## After submiting the Feeback section answer, button should be changed thier color.
When user is not submiting their feedback button looks like
![image](https://i.ibb.co/LprpNVz/before-submiting.png)
<hr>
After submiting the answer user should know what they submit, But now after submitting the answer feedback section looks like

![image](https://i.ibb.co/wQYCQ10/after-submit.png)

## We have to

[2020-12-03 03:43] Ansh-Sarkar commented on #146
Hello. I am relatively new to open source. Could you pls let me know if this issue can be assigned to me ? I can surely update the docs well. Thank you.

[2020-12-07 07:45] jlapreviz opened #212 "Please Add instructions on How to Populate database in Postgres Docker Image"
## Describe the documentation issue
https://www.opencue.io/docs/getting-started/setting-up-the-database/
Populate the database
Does not include instructions on how to populate the database from within the Postgres docker image database.

## Describe the enhancement
Please add instructions on how to populate the Postres database with opencue, from within a Postgres database Docker instance.

## Add

[2020-12-09 15:43] sharifsalah commented on #146
Thanks for volunteering, @Ansh-Sarkar. I've assigned the issue to you.

[2020-12-11 08:55] saki-osive opened #215 "Streamlining setting up a local instance of documentation using Hugo #214"
As a beginner to this project, setting up a local instance using Hugo had me some tweaks to do, so I have added changes in the readme.md file which make it very easy and simple to get a local instance running on any system from the get go.

Although all steps have been covered, they aren't at all ordered and just not the way to go for a beginner to this project, wishing to contribute.

The changes

[2020-12-11 08:56] saki-osive opened #216 "Issur for PR #214, Streamlined setting up a local instance of documentation using Hugo"
As a beginner to this project, setting up a local instance using Hugo had me some tweaks to do, so I have added changes in the readme.md file which make it very easy and simple to get a local instance running on any system from the get go.

Although all steps have been covered, they aren't at all ordered and just not the way to go for a beginner to this project, wishing to contribute.

The changes

[2020-12-11 09:59] #216 closed

[2020-12-14 14:41] sharifsalah commented on #215
In the pull request, you suggest users install the following packages:

- autoprefixer
- postcss-cli

Could you please add more detail about why these are required for local development?

If they are required for production (which I don't think is the case), then I think it makes sense to add them to `package-lock.json`. If they're *only* required for local development, then I think we would want

[2020-12-17 21:14] saki-osive commented on #215
Hi, without installing the following packages,

- autoprefixer
- postcss-cli

 the local instance loaded but was missing some of the SCSS components which made the webpages look odd. However after adding these, the problem was fixed and a normal instance was loaded as it does on the page https://www.opencue.io/. Due to this, I requested to add those packages in the documentation.

Yes, the ```-D -

[2020-12-22 18:43] #215 closed

[2020-12-28 12:48] saki-osive opened #218 "Added python-dev as a pre-req for Linux-quickstart for PR #217"
While setting up a local instance using the Linux quickstart page, the python-dev dependency is missing from the list of pre-requisites which is needed. This issue is for the PR #217 which aims to add it to the documentation.

[2021-02-01 14:26] #200 closed

[2021-02-01 14:27] #218 closed

[2021-02-01 14:28] sharifsalah commented on #218
Looks like this was resolved in #217 so resolving.

[2021-04-21 00:30] chunghob opened #227 "Quick start for Linux - missing yml file for docker-compose"
## Describe the documentation issue
A clear and concise description of the issue in the document.

In the https://www.opencue.io/docs/quick-starts/quick-start-linux/ docs there is a reference to run the following:
`docker-compose --project-directory . -f sandbox/docker-compose.yml up`

but in the pull from the repo, doesn't have that file, only this: `docker-compose.monitoring.yml`
And running tha

[2021-04-21 21:02] chunghob commented on #227
Found that it is in the root dir of OpenCue and `docker-compose up` should work given the user has the right group permissions.

[2021-04-22 16:45] IdrisMiles commented on #227
This is a recent change introduced by this PR (https://github.com/AcademySoftwareFoundation/OpenCue/pull/933), looks like the docs still need to be updated to reflect the update

[2021-04-26 10:51] #227 closed

[2021-04-26 10:54] sharifsalah commented on #209
Actually, this would be a useful enhancement for the Docsy project, which this site uses:

https://github.com/google/docsy/

If you're still interested in working on this, please follow up with the Docsy project.

[2021-04-26 10:54] #209 closed

[2021-11-29 05:27] Dewdskii opened #245 "OpenCue Windows Setup: Documentation Suggestions"
Documentation in Question:
Documentation Link: https://www.opencue.io/contributing/opencue/getting-started/getting-started-windows/

## Describe the documentation issue
### 1.
Add a note when creating the "opencue" role in pgAdmin to set the new user's "Can login?" option to True at Stage "Using the pgAdmin GUI": Step 5.
https://www.opencue.io/contributing/opencue/getting-started/getting-started-w

[2021-12-04 22:24] bcipriano commented on #245
Great notes, thanks for these. I'll take a run through a fresh Windows install soon and get these fixed up.

[2022-07-01 09:01] johhnry opened #250 "Quick start for Linux: VERSION is not up to date"
## Describe the documentation issue
Related to https://github.com/AcademySoftwareFoundation/OpenCue/issues/810#issuecomment-1159536417

In the current state, using `export VERSION=0.2.65` and `sandbox/install-client-archives.sh` gives errors because some files uses Python 2.x syntax.

The documentation is a little bit misleading if you apply the steps one by one.

(it worked with `export VERSION=0

[2022-10-10 18:07] #250 closed

[2022-10-14 06:28] michimussato commented on #250
Thanks @bcipriano I'm totally new to OpenCue, so I guess for people me, it is crucial to keep the learning curve as flat as possible or they'll leave (aka offering GOOD documentation). To state the obvious: the website says "Last modified Tuesday, July 9, 2019".

[2022-10-14 07:39] michimussato opened #253 "blender : unable to open display"
## Describe the documentation issue
A Blender job fails due to `Unable to open a display`

[code]

[code]

Workaround 1:
Job with `xvfb-run --auto-display` (Cuetopia still reports the job as DEAD as it tries to kill `xvfb-run` instead of `blender`, which it can't, however, the output generated is correct). One thing to note is that I first fired up `blender` with `xvfb-run -n 0` instead, but the j

[2022-10-14 13:48] johhnry commented on #250
Thanks @bcipriano for making the changes in the documentation!

@michimussato About what you said: "I feel like this is nothing people would want to use in a production environment."
While I agree that a good documentation is needed, I think that Docker is the way to go in terms of ease of deployment. With a single command / docker-compose file you can deploy complicated services without corruptin

[2022-10-14 17:29] bcipriano commented on #250
Definitely the Docker Compose set up is not really meant for production -- just meant for a quick sandbox environment. I agree it's unfortunate that it probably requires learning a bit about Docker which many folks may not be familiar with.

IMO Docker can be good for production, particularly in cloud environments where you can use a managed Kubernetes service like GKE or Amazon's EKS. I have not

[2022-10-14 19:58] michimussato commented on #250
@johhnry Docker is easy for sure and it opened the door into OpenCue for me I must admit. When I speak about a production environment, I mean network of connected computers - which often also includes one-man-show companies. This is the scenario where I don't see Docker as the first choice - at least not with the single Docker container there is atm where all OpenCue components (including Postgres

[2022-10-15 11:32] michimussato opened #254 "Add/modify plugins"
I would like to know the best practice way to add a new (what would be the correct terminology) plugin like Houdini or Modo.

[2022-10-15 11:35] michimussato opened #255 "Replace Katana as viewer"
How can I replace Katana as the preview tool with something opener source? For example with DJV? Or add a set of different image viewers?

[2022-10-15 12:00] michimussato commented on #253
Should have gone to SoftwareFoundation/OpenCue instead of SoftwareFoundation/opencue.io
Apologies.

[2022-10-15 12:00] michimussato commented on #255
Should have gone to SoftwareFoundation/OpenCue instead of SoftwareFoundation/opencue.io
Apologies.

[2022-10-15 12:01] #255 closed

[2022-10-15 12:01] michimussato commented on #254
Should have gone to SoftwareFoundation/OpenCue instead of SoftwareFoundation/opencue.io
Apologies.

[2022-10-15 12:01] #254 closed

[2022-10-15 12:01] #253 closed